*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.home{
    background-image: url('pexels-miguel-á-padriñán-1010973\ \(1\).jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height : 100vh
}
nav{
    text-align: center;
    padding-top: 2%;
}
.logo{
    display : inline-block;
    font-size: 25px;
    color : #fff;
    text-transform: capitalize;
    font-weight: bold;
}
nav a{
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 25px;
}
.banner-area{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
.banner-area h3{
    font-size: 30px;
    text-transform: uppercase;
    color: crimson;
    margin: 0 0 40px 0;
}
.banner-area h2{
    margin: 0;
    padding: 0;
    color: darkorange;
    font-size: 30px;
    line-height: 0;
}
.banner-area h2 span{
    color: lightskyblue;
}
@media (max-width: 800px) {
    nav a{
        font-size: 11px;
        margin: 0 10px;
    }
    .logo{font-size: 18px;}
    .banner-area h2{
        font-size: 1.7em;
    }
    .banner-area h3{
        margin: 0 0 20px;
    }
}
/* background-image: radial-gradient( circle 759px at -6.7% 50%,  rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgba(75,118,69,1) 100.3% ); */